# SPDX-FileCopyrightText: 2024 Blacky <blacky@kisss.de>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Desktop Entry]
Name=QtPass
Exec=qtpass
Icon=web-browser
Terminal=false
X-MultipleArgs=False
Type=Application
Keywords=synchronization;interface;
Categories=WebBrowser;GPG;
